doctype html
html

head
link(rel='stylesheet' type='text/css' href=node_modules + '/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='../css/style.css')
title='Cemu GyroStick'
body.container
    br
    .row
        #setup.col-12
        h2.col-12 Toggle Gryo Axes
        .col-4: .row.justify-content-center
            button#gyroX.col.btn.enabled X
        .col-4: .row.justify-content-center
            button#gyroY.col.btn.enabled Y
        .col-4: .row.justify-content-center
            button#gyroZ.col.btn.enabled Z
        h2.col-12 Toggle Accel Axes
        .col-4: .row.justify-content-center
            button#accelX.col.btn.enabled X
        .col-4: .row.justify-content-center
            button#accelY.col.btn.enabled Y
        .col-4: .row.justify-content-center
            button#accelZ.col.btn.enabled Z
        h2.col-12 Normal/Invert Gyro Controls
        .col-4: .row.justify-content-center
            button#invertX.col.btn.enabled X normal
        .col-4: .row.justify-content-center
            button#invertY.col.btn.enabled Y normal
        .col-4: .row.justify-content-center
            button#invertZ.col.btn.enabled Z normal
        h2#gamepadIndicator.col-12 Gamepad not connected
script.
    require('../js/index.js')(JSON.parse('#{arg}'.replace(/&quot;/g, '"')));
